html, body{
  background-color: #B0C4DE;
  font-family: helvetica;
}

.grid-container {
  display:grid;
  grid-template: auto / 1fr 1fr;
}

.grid-item{
  border:solid;
  padding:10px;
  margin:10px;
}

img {
  height:300px;
  width:350px;
  margin-top:15px;
}

aside{
  font-style: italic;
  font-size:9px;
}

@media only screen and (max-width: 600px){
img {
  height:100px;
  width:150px;
  margin-top:15px;
}
}